{% extends 'users/base.html' %}

{% block content %}

    {% if user.is_superuser or user.email|slice:4 == 'prof' %}
        <a
            class="btn btn-outline-info btn-sm mt-1 mb-3 mx-1"
            href="{% url 'grade-create' %}"
            >Add New Grades</a
        >
        {% for grade in allGrades %}
            <article class="media content-section">
                {% comment %} <img class='rounded-circle article-img' src="#"> {% endcomment %}
                <div class="media-body">
                <div class="article-metadata">
                    <p>{{ grade.student }}</p>
                    {% comment %} <small class="text-muted">{{ grade.date_posted | date:'F d, Y' }}</small> {% endcomment %}
                    {% comment %} <small class="text-muted">{{ post.date_posted | date:'F d, Y' }}</small> {% endcomment %}
                </div>
                <h4><a class="article-title" href="{% url 'grade-detail' grade.id %}">Update Grade</a></h4>
                <h5 class="article-title">{{ grade.course }} : {{ grade.marks }}</h5>
                {% comment %} <p class="article-content"></p> {% endcomment %}
                </div>
            </article>
        {% endfor %}
    {% else %}

    {% if not grades %}
        <h3 class='article-title'>Oops! nothing here</h3>
    {% endif %}

    {% for grade in grades %}
        <article class="media content-section">
            {% comment %} <img class='rounded-circle article-img' src="#"> {% endcomment %}
            <div class="media-body">
            <div class="article-metadata">
                <p>{{ grade.student }}</p>
                {% comment %} <small class="text-muted">{{ grade.date_posted | date:'F d, Y' }}</small> {% endcomment %}
                {% comment %} <small class="text-muted">{{ post.date_posted | date:'F d, Y' }}</small> {% endcomment %}
            </div>
            <h3 class="article-title">{{ grade.course }}</h3>
            <p class="article-content">{{ grade.marks }}</p>
            </div>
        </article>
    {% endfor %}
    {% endif %}

{% endblock content %}
