{% extends 'users/base.html' %}

{% block content %}
{% if not courses %}
    <h3 class='article-title'>You are not Registered in any course yet!</h3>
    <a class='color' href="{% url 'courses-available' %}" class="ml-2">Register Now</a>
{% endif %}


{% for course in courses %}

    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <p class="mr-2 color">{{ course.course_head }}</p>
        </div>
        <h3><a class="article-title" href="{% url 'course-detail' course.id %}">{{ course.title }}</a></h3>
        <p class="article-content">{{ course.description }}</p>
        </div>
    </article>
{% endfor %}

{% endblock content %}
