{% extends 'users/base.html'%}
{% load crispy_forms_tags %}
{% block content%}
    {% if user.is_authenticated %}
        <h3>You have been logged out</h3>
        <div class="border-top pt-3">
            <p class="text-muted">
                <a class='color' href="{% url 'login' %}">Log In Again</a>
            </p>
        </div>
    {% else %}
        <h3>Please login</h3>
        <div class="border-top pt-3">
            <p class="text-muted">
                <a class='color' href="{% url 'login' %}">Log In</a>
            </p>
        </div>  
    {% endif %}
{% endblock content%}