{% extends 'users/base.html'%}
{% block content%}
    {% if user.is_authenticated %}
        <div class="alert alert-success">
            Your password has been set!
        </div>
        <a class='color' href="{% url 'login' %}">Sign In Here</a>
    {% else %}
        <h3>Please login</h3>
        <div class="border-top pt-3">
            <p class="text-muted">
                <a class='color' href="{% url 'login' %}">Log In</a>
            </p>
        </div>  
    {% endif %}
{% endblock content%}