{% extends 'users/base.html' %}

{% block content %}
{% if not announcements %}
    <h3>No announcements Yet!</h3>
{% else %}
    {% if user.is_superuser or user.email|slice:4 == 'prof' %}
        <a
            class="btn btn-outline-info btn-sm mt-1 mb-3 mx-1"
            href="{% url 'announcement-create' %}"
            >Post New Announcement</a
        >
    
    {% for announcement in announcements %}
        <article class="media content-section">
            {% comment %} <img class='rounded-circle article-img' src="#"> {% endcomment %}
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2 color" href="{% url 'user-announcement' announcement.author.username %}">{{ announcement.author }}</a>
                <small class="text-muted">{{ announcement.date_posted | date:'F d, Y' }}</small>
                {% comment %} <small class="text-muted">{{ post.date_posted | date:'F d, Y' }}</small> {% endcomment %}
            </div>
            <h4><a class="article-title" href="{% url 'announcement-detail' announcement.id %}">{{ announcement.title }}</a></h4>
            <p class="article-content">{{ announcement.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% else %}
        <h3>Please login as Instructor or admin to access this content</h3>
        <div class="border-top pt-3">
            <p class="text-muted">
                <a class='color' href="{% url 'login' %}">Log In</a>
            </p>
        </div> 
    {% endif %}

{% endif %}

{% endblock content %}
