{% extends 'users/base.html' %}

{% block content %}
    <h4 class='mb-3 mx-2'>Announcements by {{ view.kwargs.username }}</h4>
{% if not announcements %}
    <h4>No announcements Yet!</h4>
{% else %}
    {% if user.is_superuser or user.email|slice:4 == 'prof' %}
        <a
            class="btn btn-outline-info btn-sm mt-1 mb-3"
            href="{% url 'announcement-create' %}"
            >Post New Announcement</a
        >
    {% endif %}
    {% for announcement in announcements %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2 color" href="{% url 'user-announcement' announcement.author %}">{{ announcement.author }}</a>
                <small class="text-muted">{{ announcement.date_posted | date:'F d, Y' }}</small>
            </div>
            <h4><a class="article-title" href="{% url 'announcement-detail' announcement.id %}">{{ announcement.title }}</a></h4>
            <p class="article-content">{{ announcement.content }}</p>
            </div>
        </article>
    {% endfor %}

{% endif %}

{% endblock content %}
