{% extends 'users/base.html' %}

{% block content %}
<h3 class='mb-3'>Lecture Notes By {{ view.kwargs.username }}</h3>
{% if not documents %}
    <h2>No documents Yet!</h2>
{% else %}
    {% if user.is_superuser or user.email|slice:4 == 'prof' %}
        <a
            class="btn btn-secondary btn-sm mt-1 mb-3"
            href="{% url 'document-create' %}"
            >Post New Document</a
        >
    {% endif %}
    {% for document in documents %}
        <article class="media content-section">
            {% comment %} <img class='rounded-circle article-img' src="#"> {% endcomment %}
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-document' document.author.username %}">{{ document.author }}</a>
                <small class="text-muted">{{ document.date_posted | date:'F d, Y' }}</small>
                {% comment %} <small class="text-muted">{{ post.date_posted | date:'F d, Y' }}</small> {% endcomment %}
            </div>
            <h3><a class="article-title" href="{% url 'document-detail' document.id %}">{{ document.title }}</a></h3>
            <h5><a class="article-title" href="{{ document.file.url }}">View Document</a></h5>
            </div>
        </article>
    {% endfor %}

{% endif %}

{% endblock content %}
